<h2>訂單明細</h2>
!! 訂單明細要做 !!
<h2>寄送資訊</h2>
<h3>訂購人</h3>
<%= @order_info.billing_name %>, <%= @order_info.billing_address %>
<h3>收件人</h3>
<%= @order_info.shipping_name %>, <%= @order_info.shipping_address %>
<hr>
<% if !@order.is_paid? %>
	<%= link_to("用信用卡結帳", pay_with_credit_card_order_path(@order.token), class: "btn btn-danger") %>
	<%= link_to("用 ATM 結帳", "#", class: "btn btn-danger") %>
<% else %>
	<p class="text-center">此訂單已經完成付款囉！</p>
<% end %>
